<!DOCTYPE html>
<html>
<head>
  <title>Score Page Longest Word</title>
</head>
<body>

  <h1>Thanks for playing!</h1>

  <p>Your word: <%=@input_word%></p>

  <%=score%>

  <%= link_to "Play again!", new_path %>

</body>
</html>
